<div class="container mt-4">
  <h4 class="text-primary">Color 1:</h4>
  <div class="form-group">
    <label>Choose an option</label>
    <select class="form-control" name="c1" [(ngModel)]="c1Seleccionado" (change)="calcularVar()"
    [style.background-color]="c1Seleccionado">
      <option *ngFor="let op of colores" name="c1" [value]="op" style="margin: 10px" [style.background-color]="op">
        {{op}}
      </option>
    </select>
  </div>

  <h4 class="text-primary">Color 2:</h4>
  <div class="form-group">
    <label>Choose an option</label>
    <select class="form-control" name="c1" [(ngModel)]="c2Seleccionado" (change)="calcularVar()"
    [style.background-color]="c2Seleccionado">
      <option *ngFor="let op of colores" name="c1" [value]="op" style="margin: 10px" [style.background-color]="op">
        {{op}}
      </option>
    </select>
  </div>

  <h4 class="text-primary">Color 3:</h4>
  <div class="form-group">
    <label>Choose an option</label>
    <select class="form-control" name="c2" [(ngModel)]="c3Seleccionado" (change)="calcularVar()"
    [style.background-color]="c3Seleccionado">
      <option *ngFor="let op of colores" name="c2" [value]="op" style="margin: 10px" [style.background-color]="op">
        {{op}}
      </option>
    </select>
  </div>

  <br>

  <div class="form-group">
    <div class="form-check" *ngFor="let op of radioOpciones">
      <input class="form-check-input" type="radio" name="radio" [(ngModel)]="radSeleccionado" [value]="op" (change)="calcularVar()">
      <label class="form-check-label" style="margin: 10px">
        {{op}}
      </label>
    </div>
  </div>

  <br>

  <!-- <button (click)="calcularVar()" class="btn btn-primary">Calcular</button> -->

  <table class="table">
    <thead>
      <tr>
        <th>C1</th>
        <th>C2</th>
        <th>C3</th>
        <th>Tolerancia</th>
        <th>var</th>
        <th>valor +</th>
        <th>valor -</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [ngStyle]="{'background-color': c1Seleccionado}">{{v1}}</td>
        <td [ngStyle]="{'background-color': c2Seleccionado}">{{v2}}</td>
        <td [ngStyle]="{'background-color': c3Seleccionado}">{{v3}}</td>
        <td [ngStyle]="{'background-color': radSeleccionado}">{{v4}}</td>
        <td>{{valor}} ohms</td>
        <td>{{valorp}}</td>
        <td>{{valorn}}</td>
      </tr>
    </tbody>
  </table>
</div>
